
<div class="container">
    <div>
        <div class="container text-dark">
            <div class="p-3 mb-2 display-4 font-weight-bold">
                Welcome to Book Reading Event
            </div>
            <div class="p-3 mb-2 font-weight-bold">
                Be a part of us
            </div>
            <div class="p-3 mb-2">
                <ul>
                    <li>
                        You must have to Regiter and login.
                    </li>
                    <li>
                        After logging, You can create your own events.
                    </li>
                    <li>
                        You can attend events invited by other members.
                    </li>
                    <li>
                        You can update and delete your events here.
                    </li>
                    <li>
                        You can make your event private also.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>