
<div class="container">
    <div>
        <div class="container text-dark">
            <div class="p-3 mb-2 display-4 font-weight-bold">
                Customer Support
            </div>
            <div class="p-3 mb-2 font-weight-bold">
                Contact us
            </div>
            <div class="p-3 mb-2">
                <ul>
                    <li>
                        Website : <a asp-area="" asp-controller="Home" asp-action="Website">helpdesk.nagarro.com</a>
                    </li>
                    <li>
                        Email : <a asp-area="" asp-controller="Home" asp-action="Email">helpdesk@nagarro.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>