@model Book.Reading.Event.Models.LoginViewModel

    @{
        ViewData["Title"] = "Login";
    }
<h1 class="text-dark font-weight-bold">Login</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="username" class="control-label text-dark font-weight-bold"></label>
                    <input asp-for="username" class="form-control input-sm" placeholder="Username..." autocomplete="off"/>
                    <span asp-validation-for="username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="password" class="control-label text-dark font-weight-bold"></label>
                    <input asp-for="password" class="form-control input-sm" placeholder="Password..." autocomplete="off" />
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-dark btn-block" />
                </div>
            </form>
            <div>
                <p class="text-dark font-weight-bold"> Click <a asp-controller="Account" asp-action="SignUp">here</a> to Sign Up</p>
            </div>

        </div>
    </div>

  
